@use '../base/mixins';
@use '../base/colors';
@use '../base/breakpoints';

.about {
  width: 100%;
}

.about-card {
  @include mixins.column(start, start, 8px);
  background-color: colors.$white;
  border-radius: 8px;
  padding: 16px;
  max-width: 375px;
  margin: auto;

  &__h3 {
    color: colors.$card-title;
    font-size: 22px;
    font-weight: 500;
  }

  &__p {
    font-size: 16px;
    color: colors.$black;
    margin-bottom: 12px;
  }

  &__ul {
    @include mixins.row(center, center, 24px);
    width: 100%;
    margin-top: auto;
  }

  &__li {
    transition: transform 300ms;

    &:hover {
      cursor: pointer;
      transform: translateY(4px);
    }
  }
}
