@use '../base/mixins';
@use '../base/breakpoints';

.container {
  @include mixins.column(start, center, 0px);
  min-height: 100vh;
}

.wrapper {
  @include mixins.column(start, start, 32px);
  padding: 0 16px;

  @media (min-width: breakpoints.$sm) {
    row-gap: 36px;
    padding-left: 24px;
    padding-right: 24px;
  }

  @media (min-width: breakpoints.$md) {
    max-width: 768px;
    margin: auto;
  }

  @media (min-width: breakpoints.$lg) {
    max-width: 992px;
    margin: auto;
  }
}
