@use '../base/colors';
@use '../base/mixins';
@use '../base/breakpoints';

.contact {
  width: 100%;

  &__form {
    width: 100%;
    min-height: 360px;
    max-width: 375px;
    margin: auto;
    border: 1px solid colors.$white;
    padding: 16px;
    border-radius: 16px;
    @include mixins.column(start, center, 14px);
  }

  &__box {
    @include mixins.column(start, start);
    width: 100%;

    &:last-of-type {
      margin-top: auto;
    }
  }

  &__label {
    font-size: 16px;
    margin-bottom: 4px;
  }

  &__input,
  &__textarea {
    height: 48px;
    background-color: transparent;
    border: 1px solid #ffffffaa;
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    font-size: 16px;
    color: colors.$white;
    outline: none;

    &::placeholder {
      color: #ffffffaa;
    }
    &:focus {
      border-color: colors.$white;
      border-width: 2px;
    }
  }

  &__textarea {
    min-height: 92px;
    resize: vertical;
  }
  &__error-message {
    margin-top: 2px;
  }
}
