@use '../base/colors';
@use '../base/mixins';
@use '../base/breakpoints';

.contact {
  width: 100%;

  &__form {
    width: 100%;
    min-height: 360px;
    max-width: 375px;
    margin: auto;
    background-color: #fff;
    color: #333;
    padding: 16px;
    border-radius: 8px;
    @include mixins.column(start, center, 14px);
  }

  &__box {
    @include mixins.column(start, start);
    width: 100%;

    &:last-of-type {
      margin-top: auto;
    }
  }

  &__label {
    font-size: 16px;
    color: inherit;
    font-weight: 500;
  }

  &__input,
  &__textarea {
    height: 48px;
    width: 100%;
    padding: 16px;
    border: 1px solid #b0b0b0;
    border-radius: 8px;
    font-size: 16px;

    background-color: colors.$white;

    &::placeholder {
      color: #989898;
    }
    &:focus {
      outline: none;
      box-shadow: 0px 0px 5px #007bff;
    }
  }

  &__textarea {
    min-height: 92px;
    resize: vertical;
  }
  &__error-message {
    margin-top: 2px;
    font-size: 14px;
    color: red;
  }
}
