@use '../base/mixins';
@use '../base/colors';
@use '../base/breakpoints';

.header {
  width: 100%;
  position: fixed;
  height: 82px;
  padding: 16px;
  z-index: 1;
  top: 0;
  background-color: colors.$bg;
  border-bottom: 2px solid #fff;
  transition: border-bottom 0.5s;

  &.open {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }

  &__nav {
    position: relative;
    @media (min-width: breakpoints.$md) {
      max-width: 95%;
      margin: auto;
    }
    @media (min-width: breakpoints.$lg) {
      max-width: 90%;
      margin: auto;
    }
  }

  &__ul {
    @include mixins.column(center, center, 48px);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: -120vh;
    background-color: colors.$bg;
    transition: left 0.5s;

    &.open {
      top: 0;
      left: 0;
    }

    @media (min-width: breakpoints.$md) {
      @include mixins.row(space-between, center, 48px);
      position: static;
      height: 100%;
      width: 100%;
    }
  }
  &__ul &__ul--links {
    @include mixins.column(space-between, center, 48px);
    @media (min-width: breakpoints.$md) {
      min-width: 360px;
      @include mixins.row(space-evenly, center, 24px);
    }
    @media (min-width: breakpoints.$lg) {
      min-width: 560px;
      @include mixins.row(space-evenly, center, 36px);
    }
  }

  &__li {
    &:first-of-type {
      position: fixed;
      top: 16px;
      left: 16px;
    }
    @media (min-width: breakpoints.$md) {
      &:first-of-type {
        position: static;
        display: block;
      }
    }
  }

  &__a {
    display: flex;
    align-items: center;
    user-select: none;
    font-size: 24px;
    font-weight: 300;
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    cursor: default;
    user-select: none;

    &--active {
      border-bottom: 2px solid #fff;
    }
  }

  &__select {
    outline: none;
  }
  &__option {
    background-color: colors.$bg;
  }

  &__hamburger-menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 0;

    @media (min-width: breakpoints.$md) {
      display: none;
    }

    &.open .header__bar-top {
      transform: rotate(45deg);
    }
    &.open .header__bar-middle {
      transform: translateX(1rem);
      opacity: 0;
    }
    &.open .header__bar-bottom {
      transform: rotate(-45deg);
    }
  }
  &__bar-top,
  &__bar-middle,
  &__bar-bottom {
    height: 5px;
    background: white;
    border-radius: 5px;
    margin: 3px 0;
    transform-origin: left;
    transition: all 0.5s;
  }
}
