@use '../base/mixins';
@use '../base/colors';
@use '../base/breakpoints';

.header {
  width: 100%;
  position: fixed;
  height: 82px;
  padding: 16px;

  top: 0;
  background-color: colors.$bg;
  border-bottom: 2px solid #fff;

  &__wrapper {
    @include mixins.row(space-between, center);

    @media (min-width: breakpoints.$md) {
      max-width: 768px;
      margin: auto;
    }

    @media (min-width: breakpoints.$lg) {
      max-width: 992px;
      margin: auto;
    }
  }
}

.nav {
  @include mixins.row(space-between, center, 36px);
  height: 48px;

  &__ul {
    @include mixins.row(start, start, 36px);
    margin: auto;
    height: 100%;
  }

  &__li {
    height: 100%;

    &--active {
      border-bottom: 2px solid #fff;
    }
  }

  &__a {
    height: 100%;
    display: flex;
    align-items: center;
    user-select: none;
    font-size: 24px;
    font-weight: 300;
    border-bottom: 2px solid transparent;

    &--active {
      border-bottom: 2px solid #fff;
    }
  }
}

.select-languaje {
  outline: none;

  &__option {
    background-color: colors.$bg;
  }
}
