@use '../base/colors';
@use '../base/mixins';

.projects {
  width: 100%;

  &__h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  &__ul {
    @include mixins.column(start, start, 16px);
  }
}

.project {
  background-color: colors.$white;
  min-height: 300px;
  max-width: 288px;
  margin: auto;
  border-radius: 16px;
  padding: 16px;
  @include mixins.column(start, start, 8px);
  overflow-x: hidden;

  &__ul--tech-stack {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
  }

  &__li--tech-stack {
    min-width: 36px;
    min-height: 36px;
    display: inline-block;
    margin: 0 2px;

    &:hover {
      box-shadow: 1px 1px 5px blue;
    }
  }

  &__img--tech-stack {}

  &__ul--buttons {
    margin-top: auto;
    @include mixins.column(start, start, 8px);
    width: 100%;
  }

  &__li--button {
    width: 100%;
  }

  &__h3 {
    color: colors.$card-title;
    font-size: 20px;
    font-weight: 500;
  }

  &__p {
    font-size: 14px;
    color: colors.$black;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}