@use '../base/colors';
@use '../base/mixins';

.projects {
  width: 100%;

  &__h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  &__ul {
    @include mixins.column(start, start, 16px);
  }
}

.project {
  background-color: colors.$white;
  min-height: 300px;
  max-width: 288px;
  margin: auto;
  border-radius: 16px;
  padding: 16px;
  @include mixins.column(start, start, 8px);
  overflow-x: hidden;

  &__ul--tech-stack {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    user-select: none;
    margin-top: auto;
    cursor: grab;

  }

  &__li--tech-stack {
    display: inline-block;
    margin: 0 16px;
    margin-top: auto;
    transition: transform 300ms;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      cursor: auto;
      transform: translate(0px, 4px);
    }
  }


  &__ul--buttons {
    margin-top: auto;
    @include mixins.column(start, start, 8px);
    width: 100%;

  }

  &__li--button {
    width: 100%;
  }

  &__h3 {
    color: colors.$card-title;
    font-size: 20px;
    font-weight: 500;
  }

  &__p {
    font-size: 14px;
    color: colors.$black;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  // Modal
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.20);
    @include mixins.row(center, center)
  }

  &__modal {
    @include mixins.column(start, start, 8px);
    background-color: #fff;
    max-width: 320px;
    min-width: 220px;
    min-height: 160px;
    border-radius: 16px;
    padding: 16px;
    position: relative;
  }

  &__h3--modal {
    color: colors.$card-title;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
  }

  &__p--modal {
    font-size: 14px;
    color: colors.$black;
  }

  &__button--modal {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 36px;
  }
}