@use '../base/settings';

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex($justify, $align, $wrap: nowrap, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  flex-direction: $direction;
}

@mixin media($min-width) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}
